/* header {
    position: fixed;
    height: max-content;
    width: 98%;
    top: 0.3em;
    z-index: 3;
    border-radius: 1em;
    box-shadow: var(--default-box-shadow);
    max-width: calc(var(--max-body-width) - 1em);
    background-color: var(--bs-white);
}

header > .row > div {
    padding-left: 1em;
    padding-right: 1em;
}

.header-back {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    min-width: calc(var(--max-body-width));
    min-height: var(--header-height);
}

header .dropdown-menu {
    box-shadow: var(--default-box-shadow);
}

header .sidebar-toggle-btn {
    width: 1.5em;
    height: 100%;
}

header .sidebar-toggle-btn > i {
    font-size: xx-large;
}

header .sidebar-toggle-btn:hover {
    cursor: pointer;
}

header .emoji-flag-wrapper {
    min-width: max-content;
}

header .emoji-flag {
    font-size: x-large;
}

header .emoji-flag:hover {
    cursor: pointer;
}

header .header-item-wrapper {
    border-left: 1px solid var(--bs-gray);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset,
                0 0 5px rgba(0, 0, 0, 0.1) inset;
}

header .header-item-wrapper:nth-last-child(1) {
    border-right: 1px solid var(--bs-gray);
}

header .header-nav-link {
    text-decoration: none;
    color: black;
}


/********** BURGER **********/


/* .burger {
    position: relative;
    --burger-width: 38px;
    width: var(--burger-width);
    height: calc(0.7 * var(--burger-width)); /*width * 1/sqrt(2)*/
